<header class=" fixed top-0 w-full h-16 flex justify-around items-center bg-white z-50 bg-background/80 backdrop-blur-md border-b-gray-300 border-b">
    <div class="m-4">
        <a href="">Logo</a>
    </div>
    <div class="m-4">
        <div class="flex flex-row gap-6">
            <a href="#about">Acerca de</a>
            <a href="#">Educacion</a>
            <a href="#">Portafolio</a>
            <a href="#">Contacto</a>
        </div>
    </div>
</header>