---
import About from "./About.astro";
import Portfolio from "./react/Portfolio";
import Education from "./Education.astro";
import Hero from "./Hero.astro";
import Achievements from "./Achievements.astro";
import Contact from "./Contact.astro";
---

<div id="container">
  <Hero/>
  <About />

  <Education />

  <Achievements/>

  <Portfolio client:load />

  <Contact/>
</div>
6